services:
  db:
    image: postgres:17
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  server:
    build: .
    container_name: django_docker
    depends_on:
      - db
    ports:
      - 8000:8000
    volumes:
      - .:/app
    env_file:
      - .env
volumes:
  postgres_data: